In [1]:
import psycopg2

In [2]:
server='localhost'
db = 'employee'
username = 'postgres'
pw = 'Bakhtawar@123'
portno = 5432

In [4]:
conn = None
cur = None

try:
    conn=psycopg2.connect(host=server, dbname=db, user=username, password=pw, port=portno)
    cur=conn.cursor()
    
    drop_table='DROP TABLE IF EXISTS TELENOR'
    cur.execute(drop_table)
    
    create_table= '''
    CREATE TABLE IF NOT EXISTS TELENOR(
    ID INT PRIMARY KEY NOT NULL,
    NAME VARCHAR(40) NOT NULL,
    SALARY INT NOT NULL,
    DEPARTMENT VARCHAR(40))'''
    cur.execute(create_table)
    
  
    insert_data= '''INSERT INTO TELENOR (ID,NAME,SALARY,DEPARTMENT) VALUES(701,'bazil',121942,'SOC')'''
    cur.execute(insert_data)
    insert_data= '''INSERT INTO TELENOR (ID,NAME,SALARY,DEPARTMENT) VALUES(702,'Ayesha',324509,'SOC')'''
    cur.execute(insert_data)
    
    conn.commit()
except Exception as e:
    print("exception detected : " + str(e))
    
else:
    pass

finally:
    if conn is not None:
        conn.close()
    if cur is not None:
        cur.close()

In [6]:
import psycopg2
import psycopg2.extras

In [23]:
conn = None
cur = None

try:
    conn=psycopg2.connect(host=server, dbname=db, user=username, password=pw, port=portno)
    cur=conn.cursor(cursor_factory=psycopg2.extras.DictCursor)
    
    drop_table='DROP TABLE IF EXISTS TELENOR'
    cur.execute(drop_table)
    
    create_table= '''
    CREATE TABLE IF NOT EXISTS TELENOR(
    ID INT PRIMARY KEY NOT NULL,
    NAME VARCHAR(40) NOT NULL,
    SALARY INT NOT NULL,
    DEPARTMENT VARCHAR(40))'''
    cur.execute(create_table)
    
  
    insert_data= '''
    INSERT INTO TELENOR (ID,NAME,SALARY,DEPARTMENT)
    VALUES(%s,%s,%s,%s)
    '''
    
    values=[
        (321,'areeb',654369,'mobilink'),
        (322,'bazil',546325,'jazz'),
        (323,'Ayesha',356451,'Warid'),
        (324,'rozi',741852,'burjeel')]
    for each in values:
        cur.execute(insert_data,each)
    
    
    update_table=''' UPDATE TELENOR SET SALARY=SALARY + (SALARY *0.5)'''
    cur.execute(update_table)
    
    ########del_table=''' 
    ############DELETE FROM TELENOR WHERE NAME='rozi'
   ######## '''
   ######### cur.execute(del_table)
    
    ###############another way to delte multpli names
    
    del_table=''' 
    DELETE FROM TELENOR WHERE NAME=%s
    '''
    del_name=("bazil",)
    cur.execute(del_table,del_name)
    
    
    
    
    conn.commit()
except Exception as e:
    print("exception detected : " + str(e))
    
else:
    pass

finally:
    if conn is not None:
        conn.close()
    if cur is not None:
        cur.close()